.buttonContainer {
  display: flex;
  /* justify-content: center; */
}
.button {
  background-color: var(--col-secondary);
  border: 0;
  padding: 0.5em 1em;
  border-radius: 10%;
}
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 8px;
}
.title {
  color: white;
}
