.sectionHeader {
  text-align: center;
  margin-top: 1.35em;
  margin-bottom: 0.483em;
}
.intro {
  margin-bottom: 3.25em;
}
.horizontalLine {
  margin-bottom: 32px;
}
.itemBox {
  margin-bottom: 3rem;
}

.contentGroup {
  /* border-left: 1px solid var(--col-primary); */
  /* padding-left: 1.875em; */
}
.title {
  margin-top: 0.3em;
}
.details {
  display: flex;
  align-items: center;
}
.icon {
  border-left: 1px solid var(--col-primary);
  display: flex;
  align-items: center;
  align-items: center;
}
.description {
  display: none;
  margin-top: 1em;
  margin-bottom: 4em;
}

.divider {
  margin-bottom: 40px;
}

/* 
    ----------- MEDIA QUERIES --------
 */
@media (min-width: 480px) {
}
@media (min-width: 600px) {
  .description {
    display: block;
  }
}
@media (min-width: 768px) {
  .itemBox {
    margin-bottom: 32.4px;
    border: 1px solid rgb(185, 182, 182);
    padding: 20px;
  }
  .contentGroup {
    padding-left: 1.875em;
  }
}
@media (min-width: 900px) {
  .itemBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    align-items: center;
    margin-bottom: 25.31px;
  }
  .title {
    margin-top: 0em;
  }
  .itemBox {
    margin-bottom: 38.1px;
  }
}
@media (min-width: 1024px) {
  .itemBox {
    margin-bottom: 43px;
  }
}
@media (min-width: 1280px) {
  .itemBox {
    margin-bottom: 54.3px;
  }
}
@media (min-width: 1440px) {
  .itemBox {
    margin-bottom: 66px;
  }
}
@media (min-width: 1920px) {
  .itemBox {
    margin-bottom: 81px;
  }
}
