.contactContainer {
  text-align: center;
  padding-bottom: 51.3px;
}
.title {
  margin-bottom: 0.1em;
}
.intro {
  margin: auto auto 6.68em auto;
  width: 70%;
}
.contactWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.details {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}
.phone {
}
.emailAddress {
}
.formWrapper {
}
.form {
  text-align: left;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.label {
  margin-bottom: 0.32em;
  margin-top: 1.2em;
}
.input {
  outline: none;
  border: 2px solid rgba(20, 39, 74, 0.5);
  padding: 0.3em;
  border-radius: 8px;
}
.button {
  /* margin-left: auto; */
  margin: 11px 0 11px auto;
}
.mapLocation iframe {
  filter: invert(100%);
}
@media (min-width: 480px) {
  .contactContainer {
    padding-bottom: 65.25px;
  }
  .details {
    font-size: 0.625rem;
  }
}
@media (min-width: 600px) {
  .contactContainer {
    padding-bottom: 82px;
  }
  .details {
    font-size: 0.8rem;
  }
  .button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .contactContainer {
    padding-bottom: 104px;
  }
  .contactWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* flex-direction: row;
    justify-content: space-between; */
  }
  .details {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  .contactContainer {
    padding-bottom: 123px;
  }
  .button {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1024px) {
  .contactContainer {
    padding-bottom: 138px;
  }
  .details {
    font-size: 1.325rem;
  }
}
@media (min-width: 1280px) {
  .contactContainer {
    padding-bottom: 175px;
  }
  .details {
    font-size: 1.675rem;
  }
  .button {
    margin-top: 52px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .contactContainer {
    padding-bottom: 196px;
  }
  .details {
    font-size: 1.875rem;
  }
}
@media (min-width: 1920px) {
  .contactContainer {
    padding-bottom: 261px;
  }
  .details {
    font-size: 2.5rem;
  }
}
