.aboutContainer {
  margin-bottom: 23px;
  text-align: left;
}
.contentWrapper {
  border-bottom: 1px solid var(--col-primary);
  padding-bottom: 1em;
}
.title {
  margin-top: 1.4em;
  margin-bottom: 0.4em;
}
.intro {
  margin-bottom: 1.2em;
  text-align: left;
}

/* Media Queries */
@media (min-width: 480px) {
  .aboutContainer {
    margin-bottom: 29px;
  }
}
@media (min-width: 600px) {
  .contentWrapper {
    padding-bottom: 2em;
  }
}
@media (min-width: 768px) {
  .aboutContainer {
    margin-bottom: 46px;
  }
}
@media (min-width: 1024px) {
  .aboutContainer {
    margin-bottom: 61px;
  }
}
@media (min-width: 1280px) {
  .aboutContainer {
    margin-bottom: 77px;
  }
  .contentWrapper {
    padding-bottom: 3em;
  }
}
@media (min-width: 1920px) {
  .aboutContainer {
    margin-bottom: 115px;
  }
}
