.navigationContainer {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.navChangeBg {
  background-color: var(--col-primary);
  opacity: 0.95;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
}
.hotelLogoBox {
  font-weight: 700;
  line-height: 1.2;
  background-color: var(--col-secondary);
  /* border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%; */
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0.5em 1em;
}
.hotelName {
  /* font-size: 0.75rem; */
  font-size: 1rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
  color: var(--col-primary);
  /* font-family: "Seaweed Script", cursive; */
  font-family: "Style Script", cursive;
  text-align: center;
  margin-bottom: 0.2em;
  font-style: italic;
}
.hotel {
  font-size: 0.5rem;
  line-height: 1.2;
  letter-spacing: 0.6em;
  text-align: center;
  margin-top: 0em;
}
.slogan {
  font-size: 0.625rem;
  display: block;
  width: 100%;
  margin: 0.5em 0;
  color: white;
  text-align: left;
  font-family: "Style Script", cursive;
  /* color: var(--col-secondary); */
  font-style: italic;
  letter-spacing: 0.3em;
}
.menu {
  font-size: 1rem;
  color: var(--col-secondary);
  z-index: 3;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
}
.navLinksWrapperMobile {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  text-align: left;
  background-color: var(--col-primary);
  color: white;
}
.navListGroup {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0 6em 3em;
}
.navItem {
  list-style: none;
  margin: 32px;
}
.navItem:hover,
.navItem:active {
  text-decoration: underline;
}
.linkItem {
  font-size: 1rem;
}

.navLinksWrapperLg {
  display: none;
}

@media (min-width: 425px) {
  .menu {
    right: 5.35em;
  }
}

@media (min-width: 768px) {
  .navigationContainer {
    display: flex;
    justify-content: space-between;
    /* padding: 0 6.25em; */
  }
  .menu {
    display: none;
  }
  .navLinksWrapperMobile {
    display: none;
  }
  .navLinksWrapperLg {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .navListGroupLg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .navItemLg {
    list-style: none;
  }
}
@media (min-width: 1024px) {
  .navLinksWrapperLg {
    width: 53%;
  }
}

@media (min-width: 1280px) {
  .navLinksWrapperLg {
    width: 42%;
  }
  .navWrap {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    width: 100%;
    gap: 18em;
  }
  .hotel {
    font-size: 0.625rem;
  }
  .hotelName {
    font-size: 1rem;
  }
}
