@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* CSS Variables */
:root {
  --col-primary: rgba(20, 39, 74, 1);
  --col-secondary: #e0b973;
}

* {
  box-sizing: border-box;
}

/* RESET */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
/* /END RESET */

body {
  font-family: "Spline Sans", sans-serif;
}

p {
  line-height: 150%;
}

a img {
  border: none;
  outline: none;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
  outline: none;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
